<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.asthenia0412.multipleformatreportexport.mapper.CodeAnalysisMapper">
<resultMap id="CodeAnalysisMapper" type="io.github.asthenia0412.multipleformatreportexport.entity.CodeAnalysis">
    <id property="id" column="id"></id>
    <result property="fileName" column="file_name"></result>
    <result property="filePath" column="file_path"></result>
    <result property="issueType" column="issue_type"></result>
    <result property="codeLine" column="code_line"></result>
    <result property="issueCount" column="issue_count"></result>
    <result property="createdAt" column="created_at"></result>
    <result property="updatedAt" column="updated_at"></result>
</resultMap>

    <select id="findByIssueType" resultMap="CodeAnalysisMapper">
        select id, file_name , file_path, issue_type ,code_line, issue_count, created_at, updated_at
        from code_analysis
        where issue_type = #{issueType}
        limit #{offset},#{pageSize}
    </select>

    <select id="findAllWithPagination" resultMap="CodeAnalysisMapper">
        select id, file_name , file_path, issue_type ,code_line, issue_count, created_at, updated_at
        from code_analysis
        limit #{offset},#{pageSize}
    </select>

    <select id="countAll" resultType="int">
        select count(*)
        from code_analysis
    </select>
    
</mapper>